body {
	min-width: 1200px;
		
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	
	background-color: #849d8f;
	
	outline: 1px solid red;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
}

.container {
	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.container-catalog {
	padding-left: 27px;
	padding-right: 27px;
}

.main-header,
.discounts,
.catalog,
.about-us,
.blog-and-subscription,
.main-footer {
	padding-left: 27px;
	padding-right: 27px;
}

/*main-header start*/
.main-navigation {
	display: flex;
}

.main-header-logo {
	width: 155px;
	height: 70px;
}

.main-navigation-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	
	width: 560px;
	min-height: 70px;
}

.main-navigation-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0px;
	margin-top: 10px;
	margin-left: auto;
	padding: 0px;
	
	width: 265px;
	min-height: 70px;
}

.site-navigation {
	display: flex;
	position: relative;
	margin: 0px;
	margin-left: 25px;
	padding: 0px;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	
	list-style: none;
}

.site-navigation li {
	padding-right: 25px;
}

.site-navigation a {
	color: #ffffff;
	text-decoration: underline;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #000000;
	text-decoration: none;
	
	background-color: #ffffff;
	border-radius: 20px;
}

.site-navigation a:active {
	color: #000000;
	text-decoration: none;
	
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.sub-nav {
	display: none;
	position: absolute;
	
	list-style: none;
}

.first-link:hover .sub-nav {
	display: block;
}

.modal-search {
	display: none;
	
	width: 400px; /*временно*/
	
	font-size: 14px;
	line-height: 24px;
	color: #000000; /*временно*/
	
	background-color: #f8f7f4;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.search-form input {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.user-navigation {
	display: flex;
	
	list-style: none;
}

.user-navigation li {
	padding: 10px;
	margin-left: 20px;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

.user-navigation .login-link {
	font-weight: 500;
}

.modal-login {
	display: none;
	width: 400px; /*временно*/
	
	font-size: 14px;
	line-height: 24px;
	color: #000000; /*временно*/
	
	background-color: #f8f7f4;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.login-form input {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-form .button {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	
	background-color: #eb563b;
	border: none;
	border-top-left-radius: 15% 50%;
	border-bottom-left-radius: 15% 50%;
	border-top-right-radius: 15% 50%;
	border-bottom-right-radius: 15% 50%;
}

.login-password-info a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	text-decoration: underline;
}

.basket {
	font-weight: 500;
}

.work-time {
	margin: 0px;
	
	text-align: right;
}

.work-day {
	font-size: 14px;
	line-height: 16px;
}

.work-tel {
	font-size: 22px;
	line-height: 24px;
}

.slides-switches {
	list-style: none;
	text-align: center;
}

.slide-radio {
	background-image: url("../img/main-page.png");
}

.promo {
	text-align: center;
}

.promo-slides {
	width: 1146px;
	height: 535px;
}

.promo p {
	font-size: 60px;
	line-height: 60.35px;
}

.button {
	font-size: 32px;
	line-height: 44px;
	color: #ffffff;
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border-radius: 20px;
	box-shadow: 0 2px 1px 0 #D14C37;
	text-shadow: 0 0 20px #BB4C37;
}

.button:hover,
.button:focus {
	background: #F38267;
}

.button:active {
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}

/*main-header end*/

/*discounts start*/
.discounts {
	width: 100%;
	min-height: 230px;
	
	margin-bottom: 35px;
}

.discount-list {
	display: flex;
	justify-content: space-between;
	
	padding: 0;
	
	list-style: none;
}

.discount-list .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border-radius: 20px;
	box-shadow: 0 2px 1px 0 #D14C37;
}

.discount-list .button:hover,
.discount-list .button:focus {
	background: #F38267;
}

.discount-list .button:active {
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}

.discounts-raspberry {
	width: 560px;
	min-height: 230px;
	
	background-image: url("../img/raspbery.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.discounts-chocolate {
	width: 560px;
	min-height: 230px;
	
	background-image: url("../img/chokolate.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.discounts h3 {
	font-size: 35px;
	line-height: 41px;
}

.discounts p {
	font-size: 18px;
	line-height: 22px;
}

.discounts .button {
	font-size: 18px;
	line-height: 24px;
	
	background: linear-gradient(to top, #E54A36, #F06542);
}
/*discounts end*/

/*catalog start*/
.catalog-list {
	width: 100%;
	min-height: 330px;
	display: flex;
	
	margin-bottom: 35px;
}

.catalog-list,
.catalog-list-inner {
	padding: 0;
	
	list-style: none;
}

.catalog-list-inner {
	display: flex;
	flex-wrap: wrap;
	
	width: 100%;
	min-height: 330px;
	
	margin-bottom: 35px;
}

.catalog .button,
.catalog-inner .button {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border-radius: 20px;
	box-shadow: 0 2px 1px 0 #D14C37;
}

.catalog .button:hover,
.catalog .button:focus,
.catalog-inner .button:hover,
.catalog-inner .button:focus {
	background: #F38267;
}

.catalog .button:active,
.catalog-inner .button:active {
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}

.catalog li:hover,
.catalog li:focus,
.catalog-inner li:hover,
.catalog-inner li:focus {
	background-color: rgba(255, 255, 255, 0.2);
	
	border-radius: 5px;
}

.catalog a.button-hidden,
.catalog-inner a.button-hidden {
	display: none;
}

.catalog-item:hover .button-hidden,
.catalog-item:focus .button-hidden,
.catalog-item-inner:hover .button-hidden,
.catalog-item-inner:focus .button-hidden {
	display: block;
}

.catalog-item-inner {
	margin-bottom: 35px;
}

.catalog-description {
	text-align: center;
}

.catalog-description a:hover,
.catalog-description a:focus,
.catalog-description a:active {
	color: #ffbc9e;
}

.catalog-item span,
.catalog-item-inner span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 65px;
	
	font-size: 0;
	
	background: url("../img/hit.png") no-repeat; /* Фоновый рисунок для замены текста */
}

.catalog-item,
.catalog-item-inner {
	position: relative;
	
	width: 267px;
	height: 330px;
	margin-right: 25px;
}

.catalog-item-inner:nth-child(3n+3) {
	margin-right: 0px;
}

.catalog-item:last-of-type,
.catalog-item-inner:last-of-type {
	margin-right: 0px;
}

.catalog-price {
	position: absolute;
	top: 210px;
	
	font-size: 45px; /*размер шрифта подобрал на глаз, фотошоп почему-то не выдал font-size*/
	line-height: 45px;
	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.catalog-item a,
.catalog-item-inner a {
	color: #ffffff;
	font-weight: 500;
	
	text-decoration: underline;
}

.catalog-list img,
.catalog-list-inner img {
	border-radius: 50%;
}
/*catalog end*/

/*about-us start*/
.about-us {
	margin: 0;
	margin-bottom: 40px;
	margin-left: 27px;
	margin-right: 27px;
	
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	border-radius: 15px;
	
	background-color: #EDDFC3;
	background-image: url("../img/pattern.jpg");
}

.about-us h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.about-us-list {
	list-style: none;
}
/*about-us end*/

/*blog start*/
.blog-and-subscription {
	width: 100%;
	min-height: 225px;
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 40px;
}

.blog {
	margin: 0px;
	width: 560px;
	min-height: 225px;
	border-radius: 15px;
	
	background-color: #ffffff;
	background-image: url("../img/strawberry-bg-static.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
	color: #e84d37;
}

.blog h2 {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.blog a {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	
	text-decoration: underline;
}
/*blog end*/

/*subscription start*/
.subscription {
	margin: 0px;
	width: 560px;
	min-height: 225px;
	border-radius: 15px;
	
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	
	background-image: url("../img/bg-post.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.subscription-wrap {
	background-color: #f8f7f4;
	border-radius: 5px;
}

.subscription-form input {
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.subscription-form input:focus {
	border-color: #663d15;
}

.subscription-form button {
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border: none;
	border-radius: 20px;
	box-shadow: 0 2px 1px 0 #D14C37;
}

.subscription-form button:hover,
.subscription-form button:focus {
	background: #F38267;
}

.subscription-form button:active {
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}
/*subscription end*/

/*map start*/
.map {
	position: relative;
	
	width: 100%;
	min-height: 430px;
}

.map .contact {
	position: absolute;
	top: 200px;
	right: 0;
	width: 300px;
}

.contact {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;

	background-color: #ffffff;
	border-radius: 10px;
}

.contact b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.contact .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
/*map end*/

/*footer start*/
.main-footer {
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-footer a {
	color: #ffffff;
	
	text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
	color: #e84d37;
}

.footer-social {
	width: 265px;
}

.social-button {
	padding: 0;
	
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	list-style: none;
}

.documentation {
	width: 560px;
}

.documentation-list {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	list-style: none;
	text-align: center;
}

.documentation-list li:first-child {
	font-weight: 700;
}

.footer-copyright {
	width: 265px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	
	text-align: right;
}
/*footer end*/

/*modal-feedback start*/
.modal-feedback {
	display: none;
	
	color: #000000; /*временно*/
	
	background-color: #f8f7f4;
	border-radius: 10px;
}

.modal-feedback h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}

.modal-feedback input {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 5px;
}

.modal-feedback textarea {
	width: 425px;
	height: 155px;
}

.modal-feedback .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	border: none;
	cursor: pointer;
}
/*modal-feedback end*/

/*------------------inner-page style's start------------------------*/

/*main-header start*/
.site-navigation-current a {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	
	background: #D07058;
	border-radius: 20px;
}

.site-navigation-current a:active {
	color: #000000;
	text-decoration: none;
	
	border-radius: 20px;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}
/*main-header end*/

/*breadcrumbs start*/
.breadcrumbs {
	margin-bottom: 5px;
	padding: 0;
	
	list-style: none;
}

.breadcrumbs li {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
}

.breadcrumbs a {
	color: #ffffff;
	text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
}

/*breadcrumbs end*/

/*catalog-title start*/
.catalog-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}
/*catalog-title end*/

h1.catalog-title {
	margin: 0px;
	margin-bottom: 25px;
}

/*filters start*/
.filters {
	margin: 0px;
	margin-bottom: 35px;
	padding: 0px;
	width: 880px;
	min-height: 140px;
}

.filter label,
.filter legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}

.filter-group {
	border: none;
}

.filter-group ul {
	list-style: none;

	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}

.filter button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	border: 2px solid #ffffff;
	
	cursor: pointer;
}

.filter button:hover,
.filter button:focus {
	color: #000000;
	
	background-color: #ffffff;
}

.filter button:active {
	background-color: #eaeaea;
}
/*filters end*/


/*pagination start*/
.pagination-list {
	list-style: none;
}

.pagination-list a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.pagination-item-current a {
	color: #000000;
	background-color: #ffffff;
	
	border-radius: 50%;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
	width: 265px;
	min-height: 35px;
	margin-left: auto;
}

.pagination-list a:hover,
.pagination-list a:focus {
	background-color: #9db1a5;
	
	border-radius: 50%;
}

.pagination-list a:active {
	color: #000000;
	
	background-color: #ffffff;
}
/*pagination end*/



/*------------сеточные стили-----------------*/
















