body {
	min-width: 1200px;
		
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	
	background-color: #849d8f;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
}

.container {
	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.container-catalog {
	padding-left: 27px;
	padding-right: 27px;
}

.main-header,
.discounts,
.catalog,
.about-us,
.blog-and-subscription,
.main-footer {
	padding-left: 27px;
	padding-right: 27px;
}

/*main-header start*/
/*main-navigation-left start*/
.main-navigation {
	display: flex;
}

.main-header-logo {
	margin: 0;
	margin-top: -4px;
	
	width: 155px;
	height: 70px;
}

.main-navigation-left {
	display: flex;
	align-items: center;

	margin: 0;
	padding: 0;
	
	width: 560px;
	min-height: 70px;
}

.main-navigation-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	margin-left: auto;
	padding: 0px;
	
	width: 265px;
	min-height: 70px;
}

.site-navigation {
	display: flex;
	
	position: relative;
	z-index: 2;
	
	width: 382px;
	margin: 0px;
	margin-bottom: 6px;
	margin-left: 12px;
	padding: 0px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	
	list-style: none;
}

.site-navigation > li {
	margin-right: 9px;
}

.site-navigation a {
	padding: 8px 10px;
	
	color: #ffffff;
}

.site-navigation a.main-nav-link:hover,
.site-navigation a.main-nav-link:focus {
	color: #000000;
	text-decoration: none;
	
	background-color: #ffffff;
	border-radius: 20px;
	border-bottom: none;
}

.site-navigation a:active {
	color: #000000;
	text-decoration: none;
	
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.with-underline-class {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.first-link {
	position: relative;
	
	z-index: 2;
}

.first-link:hover .sub-nav {
	display: block;
}

.first-link::after {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 0;
	z-index: -1;
	
	width: 100px;
	height: 40px;
} /*вставил невидимую перемычку-блок, чтоб подменю не скрывалось*/

.site-navigation li:last-child {
	margin-left: -2px;
}

.sub-nav {
	display: none;
	position: absolute;
	top: 30px;
	left: -5px;
	z-index: 2;
	
	width: 144px;
	min-height: 172px;
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #000000;
	list-style: none;
	background: #ffffff;
	
	border-radius: 5px;
}

.sub-nav li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sub-nav li:not(:first-child) {
	font-weight: 400;
}

.sub-nav li:first-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sub-nav a {
	display: block;
	
	margin: 0;
	padding: 11px 16px;
	
	color: #000000;
}

.sub-nav a:visited {
	margin: 0;
	
	background: #d07058;
}

.sub-nav a:hover,
.sub-nav a:focus {
	margin: 0;
	
	background: #fbded7;
}

.sub-nav a:active {
	margin: 0;
	
	color: #ffffff;
	background: #f6b5a5;
	box-shadow: none;
	border-radius: 0;
}
/*main-navigation-left end*/

/*main-navigation-right start*/
/*user-navigation start*/
.user-navigation {
	width: 324px;
	
	display: flex;
	justify-content: space-between;
	
	list-style: none;
	margin-top: 22px;
	margin-bottom: 12px;
}

.user-navigation-inner {
	width: 350px;
	margin-left: -50px;
}

.user-navigation li {
	margin: 0;
	padding: 0;
	margin-left: 13px;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

/*li.modal-search start*/
.user-navigation .modal-search {
	position: relative;
	z-index: 2;
	
	width: 32px;
	height: 32px;
	margin-top: 2px;

	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
}

.modal-search::after {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 1;
	
	width: 45px;
	height: 40px;
} /*вставил невидимую перемычку-блок, чтоб попап не скрывался*/

.modal-search .loup {
	margin-top: 6px;
	margin-left: 8px;
	
	fill: #ffffff;
}

.modal-search:hover .loup {
	fill: #000000;
}

.modal-search:hover {
	cursor: pointer;
	background-color: #ffffff;
}

.modal-search:hover .search-form {
	display: block;
	
	position: absolute;
	top: 37px;
	left: -305px;
}
	
.search-form {
	display: none;
	
	width: 340px;
	min-height: 85px;
	
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #f8f7f4;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	
	box-sizing: border-box;
}

.search-form input[type="text"] {
	font-weight: 700;
	color: #000000;
}

.search-form input::-webkit-input-placeholder {
	font-weight: 400;
}
.search-form input:-moz-placeholder {
	font-weight: 400;
}

.search-form input:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding: 9px 11px;
}

.search-form input:focus {
	border: none;
	padding: 9px 13px;
}

.search-navigation {
	margin: 20px 15px;
}

.search-navigation input {
	min-width: 310px;
	height: 45px;
	margin: 0;
	padding: 10px 12px;

	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}
/*li.modal-search end*/

/*li.login-link start*/
.user-navigation .login-wrapper {
	position: relative;
	z-index: 2;
	
	height: 50px;
	margin-left: 10px;
	padding: 0;
	
	text-align: center;
}

.login-link .enter {
	margin-left: -66px;
	
	fill: #ffffff;
}

.login-link:hover .enter {
	fill: #000000;
}

.login-link p {
	margin: 0;
	margin-top: -21px;
}

.user-navigation a.login-link {
	position: relative;
	
	display: block;
	
	width: 92px;
	height: 32px;
	padding: 7px 6px 0px 35px;
	
	font-weight: 500;
	
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
}

.user-navigation a.login-link:hover {
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
}

/*modal-login start*/
.login-wrapper:hover .modal-login {
	display: block;
	
	position: absolute;
	top: 39px;
	left: -185px;
}

.login-wrapper:hover {
	cursor: pointer;
}

.modal-login {
	display: none;
	
	width: 278px;
	min-height: 214px;
	
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #f8f7f4;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.login-form .form-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-wrapper .button,
.form-wrapper .login-password-info {
	width: 50%;
}

.form-wrapper {
	margin: 20px;
	padding: 0;
}

.login-form p {
	margin: 0;
	padding: 0;
}

.login-form input {
	padding: 10px 13px;
	width: 240px;
	
	font-size: 14px;
	line-height: 24px;
	
	color: #323232;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	font-weight: 700;
}

.login-form input::-webkit-input-placeholder {
	font-weight: 400;
}
.login-form input:-moz-placeholder {
	font-weight: 400;
}

.login-icon-user {
	margin: 20px;
}

.login-icon-password {
	margin: 0 20px 0 20px;
}

.login-form input:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding: 9px 12px;
}

.login-form input:focus {
	border: none;
	padding: 11px 14px;
}

.login-form .button {
	width: 100px;
	height: 45px;
	
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	
	background-color: #eb563b;
	border: none;
	border-top-left-radius: 25% 50%;
	border-bottom-left-radius: 25% 50%;
	border-top-right-radius: 25% 50%;
	border-bottom-right-radius: 25% 50%;
}

.login-form .button:hover {
	cursor: pointer;
}

.login-password-info {
	text-align: left;
}

a.restore {
	width: 120px;
	height: 20px;
	display: inline-block;
	
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	
	text-align: left;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

a.restore:first-child {
	width: 102px;
}

a.restore:hover {
	color: #e84d37;
	border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}
/*modal-login end*/
/*li.login-link end*/

/*li.basket start*/
.basket-wrapper {
	position: relative;
	
	z-index: 2;
	
	font-weight: 500;
}

/*modal-basket start*/
.basket-wrapper-inner:hover .basket-order {
	display: block;
	
	position: absolute;
	top: 40px;
	left: -438px;
}

.basket-wrapper-inner::after {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 1;
	
	width: 100px;
	height: 40px;
} /*вставил невидимую перемычку-блок, чтоб попап не скрывался*/

.basket-order {
	display: none;
	
	width: 278px;
	min-height: 214px;
	
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #f8f7f4;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.basket-wrapper-inner table {
	margin: 0px 15px 20px 15px;
	
	border-collapse: collapse;
}

.basket-wrapper-inner tr:last-child {
	border-bottom: 1px solid #cacac7;
}

.basket-wrapper-inner td {
	padding: 7px 5px;
}

td.image {
	width: 65px;
}

td.name {
	width: 244px;
}

td.value {
	width: 120px;
}

.table-price {
	color: #999999;
}

.basket-total {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	
	text-align: right;
}

.button-container {
	display: flex;
	justify-content: flex-end;
}

.basket-wrapper-inner .button {
	padding: 10px 15px;
	width: 170px;
	height: 45px;
	
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;

	background-color: #eb563b;
	border: none;
	border-radius: 25px;
}

.basket-wrapper-inner .button:hover {
	cursor: pointer;
}
/*modal-basket end*/

a.basket {
	position: relative;
	
	display: block;
	min-width: 102px;
	height: 32px;
	margin-top: 1px;
	margin-left: -4px;
	
	padding: 8px 17px 8px 46px;
	
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
}

a.basket-inner {
	min-width: 117px;
}

.basket svg {
	position: absolute;
	top: 6px;
	left: 18px;
	
	width: 21px;
	height: 20px;
	
	fill: #ffffff;
}

.basket:hover svg {
	fill: #000000;
}

a.basket:hover {
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
}

.basket-order {
	display: none;
	
	width: 540px;
	padding: 10px;

	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	
	background-color: #f8f7f4;
	border-radius: 5px;
}
/*user-navigation end*/
/*main-navigation-right end*/

.work-time {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin: 0;
	margin-top: -10px;
	margin-right: 1px;
	
	min-height: 43px;
	text-align: right;
}

.work-day {
	font-size: 14px;
	line-height: 16px;
}

.work-tel {
	margin-right: -2px;
	
	font-size: 22px;
	line-height: 24px;
}

/*slider start*/
.promo-slides {
	margin: 0;
	padding: 0;
	
	width: 1146px;
	height: 535px;
	
	list-style: none;
	text-align: center;
}

li.slide {
	background-image: url("../img/main-page.png");
}

.promo-slides p {
	margin: 0;
	
	font-size: 60px;
	line-height: 60.35px;
}

.button {
	font-size: 32px;
	line-height: 44px;
	color: #ffffff;
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border-radius: 20px;
	box-shadow: 0 2px 1px 0 #D14C37;
	text-shadow: 0 0 20px #BB4C37;
}

.button:hover,
.button:focus {
	background: #F38267;
}

.button:active {
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}

.visually-hidden-slide {
	position: absolute;

	width: 1px;
	height: 1px;

	clip: rect(0, 0, 0, 0);
}

.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
	background-image: url("../img/slider-item1.png");
	background-repeat: no-repeat;
	background-position: top center;

	transition: background-image 0.5s ease, background-color 0.5s ease;

	/* Для демонстрации */
	min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
	background-image: url("../img/slider-item3.png");
}

.slider {
	position: relative;

	margin-bottom: 40px;
	padding-top: 276px;
	padding-left: 1px;

	text-align: center;
	color: #ffffff;
}

.slider-list {
	margin: 0;
	margin-bottom: 41px;
	padding: 0;

	list-style: none;
}

.slide-r {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 26px;

	font-size: 60px;
	line-height: 60px;
	font-weight: 800;
}

.button-r {
	display: inline-block;
	width: 279px;
	min-height: 63px;
	padding: 9px 40px;
	padding-top: 8px;
	padding-left: 39px;
	margin-top: 4px;

	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;

	cursor: pointer;
}

.button-r:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-r:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	position: absolute;
	bottom: 20px;
	left: 2px;
	z-index: 20;

	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}
/*slider end*/
/*main-header end*/

/*main.container start*/
/*discounts start*/
.discounts {
	width: 100%;
	min-height: 230px;
	
	margin-bottom: 34px;
}

.discount-list {
	display: flex;
	justify-content: space-between;
	
	padding: 0;
	
	list-style: none;
}

.discount-list .button:hover,
.discount-list .button:focus {
	background: #F38267;
}

.discount-list .button:active {
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}

.discounts-raspberry {
	width: 560px;
	min-height: 230px;
	
	background-image: url("../img/raspbery.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.discounts-chocolate {
	width: 560px;
	min-height: 230px;
	
	background-image: url("../img/chokolate.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.discounts-raspberry h3 {
	margin-left: 18px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0;
	
	font-size: 35px;
	line-height: 41px;
}

.discounts-raspberry p {
	margin: 16px 20px 53px 20px;
	padding: 0;
	
	font-size: 18px;
	line-height: 22px;
}

.discounts-raspberry .button {
	margin-left: 375px;
	padding: 11px 22px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	color: #ffffff;
	box-shadow: 0 2px 1px 0 #D14C37;
	border-radius: 25px;
	background: linear-gradient(to top, #E54A36, #F06542);
}

.discounts-chocolate h3 {
	margin-left: 19px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0;
	
	font-size: 35px;
	line-height: 41px;
}

.discounts-chocolate p {
	margin: -2px 20px 54px 20px;
	padding: 0;
	
	font-size: 18px;
	line-height: 22px;
}

.discounts-chocolate .button {
	margin-left: 350px;
	padding: 10px 21px 11px 22px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	color: #ffffff;
	box-shadow: 0 2px 1px 0 #D14C37;
	border-radius: 25px;
	background: linear-gradient(to top, #E54A36, #F06542);
}
/*discounts end*/

/*catalog start*/
.catalog {
	min-height: 362px;
	margin-bottom: 5px;
}

.catalog-inner {
	min-height: 362px;
	margin-bottom: 50px;
}

.catalog-list,
.catalog-list-inner {
	width: 100%;
	min-height: 330px;
	display: flex;
	
	margin-bottom: 35px;
}

.catalog-list {
	margin: 0;
	padding: 0;
	padding-left: -1px;
	
	list-style: none;
}

.catalog-list-inner {
	display: flex;
	flex-wrap: wrap;
	
	width: 100%;
	min-height: 330px;
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	padding-left: -1px;
	
	list-style: none;
}

.catalog-item {
	position: relative;

	width: 292px;
	min-height: 406px;
	margin-right: 26px;
}

.catalog-item-inner {
	position: relative;
	
	width: 292px;
	padding: 5px 12px 20px 14px;
	margin-bottom: 6px;
}

.catalog-item-inner:first-child {
	padding-left: 0;
}

.catalog-item-inner:first-child,
.catalog-item-inner:nth-child(5),
.catalog-item-inner:nth-child(9) {
	width: 280px;
	padding-left: 0;
}

.catalog-item-inner:nth-child(4),
.catalog-item-inner:nth-child(8),
.catalog-item-inner:nth-child(12) {
	width: 280px;
	padding-right: 0;
}

.catalog-item-inner:last-child {
	padding-right: 0;
}

.catalog-item-inner:nth-child(2) {
	padding-left: 14px;
}

.catalog-item-inner:nth-child(4) {
	margin-right: 0;
	padding-right: 0;
}

.catalog-item:last-of-type,
.catalog-item-inner:last-of-type {
	margin-right: 0px;
}

.catalog-item span.hit {
	position: absolute;
	z-index: 3;
	top: 5px;
	width: 65px;
	height: 65px;
	
	font-size: 0;
	
	background: url("../img/hit.png") no-repeat; /* Фоновый рисунок для замены текста */
}

.catalog-item span.first-hit {
	top: 5px;
	left: 0;
}

.catalog-list img,
.catalog-list-inner img {
	position: relative;
	top: 5px;
	z-index: 2;
	
	border-radius: 50%;
}

p.catalog-image {
	margin-top: 0;
}

.catalog-price {
	position: absolute;
	z-index: 3;
	top: 214px;
	
	font-size: 45px; /*размер шрифта подобрал на глаз, фотошоп почему-то не выдал font-size*/
	line-height: 45px;
	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.catalog-item span.price-symbol,
.catalog-item-inner span.price-symbol {
	font-size: 0px;
}

span.price-symbol::before {
	content: "";
	
	position: absolute;
	top: 6px;
	left: 80px;
	
	width: 30px;
	height: 34px;
	
	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
}

.catalog-item span.price-low,
.catalog-item-inner span.price-low {
	margin-left: 13px;
	
	font-size: 30px;
}

.catalog-description {
	position: relative;
	top: 5px;
	z-index: 3;
	
	margin: -9px;
	margin-left: -6px;
	padding: 0;
	padding-left: 14px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	
	text-align: center;
	width: 266px;
}

.catalog-item a,
.catalog-item-inner a {
	color: #ffffff;
	font-weight: 500;

	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-description a:hover,
.catalog-description a:focus,
.catalog-description a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item-hover {
	display: none;
	
	position: absolute;
	min-height: 406px;
	padding-bottom: 10px;
	
	top: -5px;
	left: -13px;
	right: -13px;
}

.catalog-item:hover .catalog-item-hover,
.catalog-item:focus .catalog-item-hover,
.catalog-inner li:hover,
.catalog-inner li:focus {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	background-color: rgba(255, 255, 255, 0.2);
	
	border-radius: 5px;
	box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.35);
}

p.catalog-button {
	align-self: center;
}

.catalog .button,
.catalog-inner .button {
	width: 200px;
	
	margin: 0 auto;
	padding: 10px 15px;
	
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border-radius: 25px;
	box-shadow: 0 2px 1px 0 #D14C37;
}

.catalog .button:hover,
.catalog .button:focus,
.catalog-inner .button:hover,
.catalog-inner .button:focus {
	background: #F38267;
}

.catalog .button:active,
.catalog-inner .button:active {
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}
/*catalog end*/

/*about-us start*/
.about-us {
	margin-top: -44px;
	margin-bottom: 38px;
	margin-left: 27px;
	margin-right: 27px;
	padding: 0;
	
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	border-radius: 15px;
	
	background-color: #EDDFC3;
	background-image: url("../img/pattern.jpg");
}

.about-us h2 {
	margin: 0;
	margin-bottom: 24px;
	padding-top: 26px;
	padding-left: 20px;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.about-us-list {
	position: relative;
	
	display: flex;
	flex-wrap: wrap;
	
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	margin-top: -5px;
	margin-left: 77px;
	padding: 0;
	
	list-style: none;
}

.about-us-item {
	width: 486px;
	margin: 0;
	margin-right: 26px;
	margin-bottom: 24px;
	
	padding: 0;
}

.about-us-item:nth-child(even) {
	width: 525px;
	margin-left: 8px;
	margin-right: 0;
	padding-left: 46px;
}

.item-ice::before {
	content: "";
	
	position: absolute;
	left: -56px;
	top: -12px;
	
	width: 49px;
	height: 49px;
	
	background-image: url("../img/ice.svg");
	background-repeat: no-repeat;
}

.item-cow::before {
	content: "";
	
	position: absolute;
	left: 508px;
	top: -12px;
	
	width: 49px;
	height: 49px;
	
	background-image: url("../img/cow.svg");
	background-repeat: no-repeat;
}

.item-eco::before {
	content: "";
	
	position: absolute;
	left: -56px;
	top: 76px;
	
	width: 49px;
	height: 49px;
	
	background-image: url("../img/eco.svg");
	background-repeat: no-repeat;
}

.item-temp::before {
	content: "";
	
	position: absolute;
	left: 508px;
	top: 76px;
	
	width: 49px;
	height: 49px;
	
	background-image: url("../img/termometr.svg");
	background-repeat: no-repeat;
}
/*about-us end*/

/*blog start*/
.blog-and-subscription {
	width: 100%;
	min-height: 225px;
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 35px;
}

.blog {
	margin: 0px;
	width: 560px;
	height: 220px;
	border-radius: 15px;
	
	background-color: #ffffff;
	background-image: url("../img/strawberry-bg-static.jpg");
	background-position: 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}

.blog h2 {
	margin-top: 24px;
	margin-left: 20px;
	margin-bottom: 8px;
	
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.blog b {
	display: block;
	width: 300px;
	margin: 0;
	margin-top: -4px;
	margin-left: 19px;
}

.blog a {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	
	text-decoration: none;
	border-bottom: 2px solid rgba(50, 50, 50, 0.7);
}

.blog a:hover,
.blog a:focus,
.blog a:active {
	color: #e84d37;
	
	border-bottom: 2px solid #f9cdc4;
}

/*blog end*/

/*subscription start*/
.subscription {
	margin: 0px;
	padding: 0;
	width: 560px;
	height: 220px;
	border-radius: 15px;
	
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	
	background-image: url("../img/bg-post.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.subscription-wrap {
	width: 550px;
	height: 210px;
	margin: 5px;
	padding: 0;
	
	background-color: #f8f7f4;
	border-radius: 15px;
}

.subscription-wrap p {
	margin: 0;
	margin-bottom: 38px;
	padding-top: 30px;
	padding-left: 22px;
	padding-right: 20px;
	
	font-size: 16px;
	line-height: 22px;
	color: #5A5A5A;
}

.subscription-form {
	margin-left: 20px;
	margin-right: 20px;
	
	display: flex;
	justify-content: space-between;
}

.subscription-form input {
	flex-grow: 1;
	padding-left: 15px;
	
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.subscription-form input:focus {
	border-color: #663d15;
}

.subscription-form input[type="email"] {
	font-weight: 700;
	color: #000000;
}

.subscription-form input::-webkit-input-placeholder {
	font-weight: 400;
}

.subscription-form input:-moz-placeholder {
	font-weight: 400;
}

.subscription-form input:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding-left: 14px;
}

.subscription-form input:focus {
	border: none;
	padding: 8px 16px;
}

.subscription-form button {
	width: 130px;
	height: 44px;
	margin-left: 10px;
	margin-top: -3px;
	
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border: none;
	border-radius: 25px;
	box-shadow: 0 2px 1px 0 #D14C37;
}

.subscription-form button:hover,
.subscription-form button:focus {
	background: #F38267;
	cursor: pointer;
}

.subscription-form button:active {
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}
/*subscription end*/

/*map start*/
.map {
	position: relative;
	
	width: 100%;
	min-height: 430px;
}

.map .contact {
	position: absolute;
	top: 63px;
	right: 27px;
	
	width: 302px;
	height: 305px;
	padding-top: 30px;
	padding-left: 25px;
	
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;

	background-color: #ffffff;
	border-radius: 10px;
}

.contact p {
	width: 150px;
	margin: 0;
}

.contact p.contact-tel {
	padding-top: 1px;
	margin-bottom: 4px;
}

p.contact-tel b {
	padding-top: 3px;
	padding-bottom: 3px;
}

.contact p:first-of-type {
	margin-bottom: 18px;
}

.contact p:last-of-type {
	width: 180px;
	margin-bottom: 33px;
}

.contact b {
	display: block;
	width: 235px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.contact .button {
	width: 252px;
	height: 44px;
	padding: 11px 28px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	border-radius: 25px;
}
/*map end*/
/*main.container end*/

/*footer start*/
.main-footer {
	min-height: 100px;
	margin-top: -3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-footer-inner {
	margin-top: 22px;
}

.main-footer a,
.footer-company {
	color: #ffffff;
	text-decoration: none;
}

.social-twitter svg,
.social-instagram svg,
.social-fb svg,
.social-vk svg {
	fill: rgba(255, 255, 255, 0.8);
}

.social-twitter:hover svg,
.social-instagram:hover svg,
.social-fb:hover svg,
.social-vk:hover svg,
.social-twitter:focus svg,
.social-instagram:focus svg,
.social-fb:focus svg,
.social-vk:focus svg,
.social-twitter:active svg,
.social-instagram:active svg,
.social-fb:active svg,
.social-vk:active svg {
	fill: rgba(255, 255, 255, 1); /*стили иконок при наведении и нажатии*/
}

.social-button-item {
	display: block;
	width: 38px;
	height: 38px;
	
	border-radius: 25px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button-item:hover,
.social-button-item:focus,
.social-button-item:active {
	border: 3px solid rgba(255, 255, 255, 0.7);  /*стили рамок иконок при наведении и нажатии*/
}

.documentation a,
.footer-company {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.documentation a:hover,
.documentation a:focus,
.documentation a:active,
.footer-company:hover,
.footer-company:focus,
.footer-company:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-social {
	width: 268px;
}

.social-button {
	display: flex;
	
	padding: 0;
	margin-right: 10px;
	margin-left: 2px;
	margin-top: 22px;
	
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	list-style: none;
}

.social-button li {
	margin-top: -6px;
	margin-right: 11px;
}

/*иконки svg*/
.social-twitter {
	fill: #ffffff;
}

/*иконки svg*/

.documentation {
	position: relative;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	width: 520px;
	margin: 0;
	padding: 0;
	
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.documentation li {
	text-align: left;
}

.documentation-list {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	list-style: none;
	text-align: center;
}

.documentation-list-left,
.documentation-list-right {
	margin-right: 16px;
	padding-left: 15px;
	
	list-style: none;
}

.provider {
	margin-bottom: 3px;
	
	font-weight: 700;
}

.ecology {
	margin-top: 3px;
}

.provider::before {
	content: "";
	
	position: absolute;
	top: 16px;
	left: 84px;
	
	width: 15px;
	height: 13px;
	
	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
}

.footer-copyright {
	width: 265px;
	margin-top: -10px;
	margin-right: -2px;
	padding-left: 75px;
	
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	
	text-align: left;
}

.footer-copyright p {
	margin: 0;
}

.footer-copyright a {
	text-decoration: none;
}
/*footer end*/

/*modal-feedback start*/
.modal-feedback {
	display: none;
	
	color: #000000; /*временно*/
	
	background-color: #f8f7f4;
	border-radius: 10px;
}

.modal-feedback h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}

.modal-feedback input {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 5px;
}

.modal-feedback textarea {
	width: 425px;
	height: 155px;
}

.modal-feedback .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	border: none;
	cursor: pointer;
}
/*modal-feedback end*/

/*------------------inner-page style's start------------------------*/

/*main-header start*/
.site-navigation-current a {
	margin-left: -3px;
	margin-right: -6px;
	padding: 6px 14px 7px 13px;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	
	background: #D07058;
	border-radius: 20px;
}

.site-navigation-current a:active {
	color: #000000;
	text-decoration: none;
	
	border-radius: 20px;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}
/*main-header end*/

/*breadcrumbs start*/
.breadcrumbs {
	position: absolute;
	top: 83px;
	
	display: flex;
	
	margin-bottom: 5px;
	padding: 0;
	
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	
	margin-right: 20px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
}

.breadcrumbs li::after {
	content: "»";
	
	position: absolute;
	left: 60px;
	
	width: 7px;
	height: 7px;
}

.breadcrumbs-current::after {
	content: "";
	
	font-size: 0;
}	

.breadcrumbs a {
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
/*breadcrumbs end*/

/*catalog-title start*/
.catalog-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}

h1.catalog-title {
	margin: 0;
	margin-top: 2px;
	margin-bottom: 25px;
}
/*catalog-title end*/

/*filters start*/
.filters {
	margin: 0px;
	margin-bottom: 28px;
	padding: 0px;
	width: 880px;
	min-height: 140px;
}

.filter {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	
	width: 880px;
	
	outline: 1px solid blue;
}

.filter .filter-sorting {
	width: 192px;
	margin-top: 0;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-sorting label {
	padding-left: 17px;
}

.filter-sorting select {
	margin-top: 5px;
	padding: 8px 5px 8px 10px;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	
	color: #ffffff;
	
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.filter-sorting option {
	color: #000000;
}

.filter-sorting option:hover {
	color: #ffffff;
	background-color: #1e90ff;
}
/*ползунки*/
.filter-range {
	width: 220px;
	height: 62px;
	
	color: #ffffff;
}

.filter-range-title {
	padding-left: 17px;
	margin-bottom: 15px;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	width: 176px;
	height: 2px;
	margin: 0 auto;
	
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
  
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.range-wrap {
	position: relative;
	
	width: 100px;
	min-height: 50px;
	
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.2);
}

.fat-content {
	position: relative;
	
	width: 442px;
	padding: 0;
}

.fat-content legend {
	padding-left: 17px;
}

.fat-content ul {
	display: flex;
	justify-content: space-between;

	margin-top: 5px;
	padding: 9px 15px;
}

.fat-content li {
	margin-left: 25px;
}

.fat-content label::before {
	content: "";
	
	position: absolute;
	top: 26px;
	left: 5px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
}

.filler-content {
	flex-grow: 1;
	
	margin-right: 14px;
	padding: 0;
}

.filler-content legend {
	padding-left: 14px;
}

.filler-content ul {
	display: flex;
	justify-content: space-between;

	margin-top: 5px;
	margin-bottom: 0;
	padding: 9px 15px;
}

.filler-content li {
	margin-left: 25px;
}

.filter button {
	align-self: flex-end;
	
	width: 146px;
	margin-right: 18px;
	padding: 8px 0;
	
	border-radius: 50%;
}

.filter label,
.filter legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}

.filter-group {
	border: none;
}

.filter-group ul {
	padding: 8px 0px 8px 10px;
	
	list-style: none;

	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}

.filter button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	border: 2px solid #ffffff;
	
	cursor: pointer;
}

.filter button:hover,
.filter button:focus {
	color: #000000;
	
	background-color: #ffffff;
}

.filter button:active {
	background-color: #eaeaea;
}
/*filters end*/


/*pagination start*/
.pagination-list {
	position: relative;
	
	display: flex;
	justify-content: space-between;
	width: 140px;
	min-height: 35px;
	margin-left: auto;
	margin-right: 33px;
	padding: 0;
	
	list-style: none;
}

.pagination-item a {
	color: #ffffff;
}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list li:hover,
.pagination-list li:focus {
	width: 25px;
	height: 25px;
	padding: 2px 4px;
	
	background-color: #9db1a5;
	border-radius: 50%;
	
	cursor: pointer;
}

.pagination-list a:active {
	color: #000000;
	
	background-color: #ffffff;
}

.pagination-item-current a {
	padding: 3px 8px;
	margin-right: -10px;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	background-color: #ffffff;
	
	border-radius: 50%;
}

.pagination-left::before {
	content: "";
	
	position: absolute;
	top: 4px;
	left: -20px;
	width: 10px;
	height: 15px;
	
	background-image: url("../img/pagination-left.png");
	background-repeat: no-repeat;
}

.pagination-right::after {
	content: "";
	
	position: absolute;
	top: 4px;
	left: 165px;
	width: 10px;
	height: 15px;
	
	background-image: url("../img/pagination-right.png");
	background-repeat: no-repeat;
}

/*pagination end*/















